.question {
  padding: 114px 0;
  text-align: center;

  &__title {
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 1.17;
    text-align: center;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1.4375rem;
  }

  &__btn {
    margin-top: 3rem;
  }
}
