$color-red-primary: #FF4343;
$color-red-primary-transparent: #FF4343CC;
$color-red-active: #E71414;
$color-gray: #6C7279;

// Base
@import './scaffold';

// Components
@import './header';
@import './navbar';
@import './logo';
@import './links';
@import './btn';
@import './features.scss';
@import './gallery.scss';
@import './person';
@import './slider.scss';
@import './question';
@import './footer.scss';


